body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #121212;
  color: #fff;
}
::-webkit-scrollbar {
  background: #121212;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}